
.app-wrapper {
 transition :all 0.4s ease-in-out;
 }
 
 @media (min-width: 1200px) { 
	.app-wrapper {
		margin-left: 250px;
	}
 }

 .app-sidepanel {
	position: fixed;
	min-height: 100vh;
	height: 100%;	
	left: 0;
	top: 0;	
	font-size: 0.875rem;	
	border-right: 1px solid lighten(#252930, 75%);
	.panel-drop {
		display: none;
	}
	.sidepanel-inner {
		position: relative;
		z-index: 10;
		background: #fff;
		box-shadow :rgba(0, 0, 0, 0.05) 0px 8px 15px;
		width: 250px;
	    height: 100%;	
	    
	}
	
	.sidepanel-close {
		display: none;
		position: absolute;
	    z-index: 20;
	    right: -2rem;
	    top: 0;
	    color: #fff;
	    font-size: 2rem;
	}

	&.sidepanel-hidden {
		left: -400px; //value >= 250px (sidepanel width + close button width)
		
	}
	&.sidepanel-visible{
		left: 0;
	}
	
	.app-nav-main {
		overflow-y: auto;
		/* Forefox scrollbar */
		scrollbar-color: rgba(0, 0, 0, 0.1) lighten(#252930, 75%);
	    scrollbar-width: thin;
	    
	    /* Chrome webkit scrollbar */
		
		&::-webkit-scrollbar {
		    width: 6px;
		    background-color: lighten(#252930, 75%);
		} 
		
		&::-webkit-scrollbar-thumb {
		    background-color: rgba(0, 0, 0, 0.1);
		    border-radius:0.5rem;
		}
	}
}



.app-branding{
	height: 60px; //same as .app-header
	padding-top: 1rem;
	padding-left: 1rem;
	margin-bottom: 1rem;
	
	.logo-icon {
		width: 36px;
	    height: 36px;
	}
	
    .logo-text {
	    color:#252930;
	    font-size: 1.25rem;
	    font-weight: 600;
	    vertical-align: middle;
    }
}

.app-nav {
	color: lighten(#252930, 25%);
	display: block;
	padding: 0;
	width: 100%;
	.app-menu {
		margin-bottom: 0;
	}
	.nav-item {
		display: block;
		color: lighten(#252930, 25%);
		background: #fff;
	}
	.nav-link {
		display: block;
		padding: 0.875rem 1rem;
		color: #252930;
		position: relative;
		display: block;
		padding-left: 3rem;
		border-left: 3px solid transparent;
		&.active {

			color:  #15a362;
			background: lighten( #15a362, 60%);
			border-left: 3px solid  #15a362;
			font-weight: 500;

		}
		
	    &.submenu-toggle.active {
		    background: none;
		    border-color: transparent;
	    }
	    
	    
		&:hover {
			color:  #15a362;
		}
	}
	.nav-icon {
		position: absolute;
		left: 1rem;
		top: 0.7rem;
		.bi {
			width: 1.25rem;
			height: 1.25rem;
		}
	}
	
	.submenu-arrow {
		position: absolute;
		right: 1rem;
		top: 0.7rem;
		color:  lighten( #252930, 40%);
		svg {
			width: 14px;
		    height: 14px;
		    
		}
		
	}
	
	.submenu-toggle {
		
		transition :all 0.4s ease-in-out;
		&[aria-expanded="true"] {
				
			
			.submenu-arrow {
				color: #252930;
				svg {
					-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
					transform: rotate(180deg);
	                -webkit-transform: rotate(180deg);
				}
			}
			
		}
	}
	
	.submenu {
		
	}
	
	.submenu-item {
		margin-bottom: 0;
		
	}
	
	.submenu-link {
		
		color: lighten(#252930, 25%);
		font-size: 0.875rem;
		margin-left: 2rem;
		padding: 0.5rem 1rem;
		padding-left: 1rem;
	    position: relative;
	    display: block;
	    margin-bottom: 0;
	    
		&:before {
			background-color: lighten(#252930, 75%);
		    content: " ";
		    display: inline-block;
		    height: inherit;
		    left: 0;
		    position: absolute;
		    width: 2px;
		    height: 100%;
		    margin-top: -0.5rem;
		}
		
		&:hover {
			color:  #252930;
		}
		
		&.active {
			color: #15a362;
			&:before {
				background-color: #15a362;
			}
		}
		
	}
}

.app-sidepanel-footer {
	//position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	border-top: 1px solid #15a362;
	background: #f5f6fe;
	.app-nav-footer {
		margin-bottom: 0;
	}

}


// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
	
	.app-sidepanel {
	    transition :all 0.4s ease-in-out;
		left: -400px; //value >= 250px (sidepanel width + close button width) 
		&.sidepanel-visible {
			display: block;
		}
	}
    .sidepanel-visible .sidepanel-close {
	    display: inline-block; //prevent showing the panel close button in xl screen
    }
	.sidepanel-visible .sidepanel-drop {
		position: fixed;
		display: block;
		min-height: 100vh;
		height: 100%;	
		width: 100%;
		min-width: 100vw;
		left: 0;
		top: 0;	
		background: rgba(0, 0, 0, 0.35);
		
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
	.app-wrapper {
		margin-left: 250px;
	}

}

.chart-container {
	position: relative;
}

.app-page-title {
	font-size: 1.5rem;
	font-weight: bolder;
	margin-bottom: 1.5rem;
}

.app-card-title {
    font-size: 1.125rem;
    margin-bottom: 0;
}

.app-card {
	position: relative;
	background: #fff;
	border-radius: 0.25rem;
	
	
	&.border-left-decoration {
		border-left: 3px solid #15a362;
	}

	.app-card-link-mask {
		position: absolute;
		width: 100%;
		height: 100%;
		display: block;
		left: 0;
		top: 0;
	}
	
	.app-card-header {
		border-bottom: 1px solid lighten(#252930, 75%);
	}
	
	.app-card-title {
		font-size: 1.125rem;
		margin-bottom: 0;
	}
	
	.card-header-action {
		font-size: 0.875rem;		
		a:hover {
			text-decoration: underline;
		}
		
	}
	
	.form-select-holder {
		display: inline-block;
	}
	
	.btn-close {
		padding: 1rem;
		&:focus {
			box-shadow:none;
		}
	}


	
}
.app-wrapper {
    transition :all 0.4s ease-in-out;
 }

 .app-card-body {
    &.has-card-actions {
        position: relative;
        padding-right: 1rem !important;
    }
    .app-card-actions {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
         border-radius :50%;
        position: absolute;
        z-index: 10;
        right: 0.75rem;
        top: 0.75rem;
        
        &:hover {
            background: #f5f6fe;
        }
        
        .dropdown-menu {
            font-size: 0.8125rem;
        }

    }
}

.app-content{
	background-color: #f5f6fe;
}

.app-card-body {
	&.has-card-actions {
		position: relative;
		padding-right: 1rem !important;
	}
	.app-card-actions {
		display: inline-block;
		width: 30px;
		height: 30px;
		text-align: center;
		border-radius :50%;
		position: absolute;
		z-index: 10;
		right: 0.75rem;
		top: 0.75rem;
		
		&:hover {
			background: #f5f6fe;
		}
		
		.dropdown-menu {
			font-size: 0.8125rem;
		}

	}
}

.app-card-stat {
	text-align: center;
	.stats-type {
		font-size: 0.875rem;
		color: lighten(#252930, 40%);
		text-transform: uppercase;		
	}
	
	.stats-figure {
	    font-size: 2rem;
	    color: #252930;
	}
	
	.stats-meta {
		font-size: 0.875rem;
		color: lighten(#252930, 40%);
		
	}
	
}