/* Header */
.app-header {	
	box-shadow:0 1px 4px 0 rgba(0,0,0,.1);
	border-bottom: 1px solid lighten(#252930, 75%);
	height: 56px;
	background: #fff;
}

.app-header-inner {
	position: relative;
}


.app-search-form {
    position: relative;
    max-width: 600px;
    
	.search-input {
		font-size: 0.875rem;
		border-radius:0.25rem;
		padding-right: 3rem;
		padding-left: 1rem;
		
		&:focus {
			border-color: lighten(#252930, 75%);
		}
	}
	.search-btn {
		color: lighten(#252930, 25%);
		background: none;
		border: none;
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 0;
		padding: 0.5rem 1rem;
		
		
		
		&:active, &:focus, &:hover {
			outline: none !important;
			color: #15a362;
			box-shadow:none;
			
		}
		
	}
}

.app-utility-item {
	display: inline-block;
	margin-right: 1.25rem;
	&:last-child {
		margin-right: 0;
	}
	& > a {
		color: lighten(#252930, 25%);
		&:hover {
			color: #252930;
		}
	}
	.dropdown-toggle {
		position: relative;
	}
	.dropdown-menu {
		font-size: 0.875rem;
		margin: 0;
	}
	.dropdown-menu.show {
		top: 23px !important;
	}
	.icon {
		font-size: 1.25rem;
		width: 24px;
		height: 24px;	
	}
	.icon-badge {
		display: inline-block;
		border-radius :50%;
		position: absolute;
		right: -0.45rem;
		top: -0.3rem;
		width: 20px;
		height: 20px;
		font-size: 0.6rem;
		font-weight: bold;
		padding-top: 1px;
		color: #fff;
		text-align: center;
		&.icon-badge {
			background:  #EC776C;
			border: 2px solid #fff;
		}
	}
}

.app-notifications-dropdown {
	
	.dropdown-menu {
		width: 300px;
		.dropdown-menu-header {
			border-bottom: 1px solid lighten(#252930, 75%);
		}
		.dropdown-menu-title {
			font-size: 1rem;
		}
		.profile-image {
			width: 36px;
			height: 36px;
		}
		.info {
			padding-right: 80px;
			position: relative;
		}
		.meta {
			color: lighten(#252930, 40%);
			position: absolute;
			right: 0;
			top:0;
			font-size: 0.75rem;
			
		}
		.dropdown-menu-footer {
			border-top: 1px solid lighten(#252930, 75%);
		}
		
		.item {
			min-width: 250px;
			position: relative;
			border-bottom: 1px solid lighten(#252930, 75%);
			&:last-child {
				border-bottom: none;
			}
			&:hover {
				background: whitesmoke;
			}
		}
		
		.link-mask {
			position: absolute;
			width: 100%;
			height: 100%;
			display: block;
			left: 0;
			top: 0;
		}
	}
	
	.app-icon-holder {
		display: inline-block;
		background: lighten(#15a362, 60%);
		color: #15a362;;
		width: 36px;
	    height: 36px;
		padding-top: 4px;
		font-size: 1rem;
		text-align: center;
		border-radius:50%;
		
		&.icon-holder-mono {
			background: #f5f6fe;;
			color: lighten(#252930, 40%);
		}
		
		svg {			
			width: 20px;
			height: 20px;
		}
	}
}

.app-user-dropdown {
    display: inline-block;
    a {

    }
	img {
		width: 36px;
		height: 36px;
	}
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .app-notifications-dropdown .dropdown-menu {
	    width: 400px;
    }

}


// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 	
	.app-header-inner {
		margin-left: 250px; //side panel width;
	}
}


// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	.search-mobile-trigger {
		cursor: pointer;
		opacity:0.8;
		&:hover {
			color:#252930 ;
			opacity:1;
		}

	}
	.app-search-box {
		display: none;
		position: absolute;
	    left: 0;
	    top: 56px;
	    padding: 0;
	    height: 100vh;
	    background: rgba(0, 0, 0, 0.5);
	    transition :all 0.4s ease-in-out;
	    .app-search-form {
		    .search-input {
			    border-radius:0;
			    padding-top: 1.5rem;
			    padding-bottom: 1.5rem;
		    }
		    .search-btn {
			    top: 7px;
		    }
		    
	    }
	    
	    &.is-visible {
		    display: block;
	    }
	}
}
.app-branding{
	height: 60px; //same as .app-header
	padding-top: 1rem;
	padding-left: 1rem;
	margin-bottom: 1rem;
	
	.logo-icon {
		width: 36px;
	    height: 36px;
	}
	
    .logo-text {
	    color: #252930;
	    font-size: 1.25rem;
	    font-weight: 600;
	    vertical-align: middle;
    }
}