

<div id="app-sidepanel" class="app-sidepanel"> 
    <div id="sidepanel-drop" class="sidepanel-drop"></div>
    <div class="sidepanel-inner d-flex flex-column">
        <a href="#" id="sidepanel-close" class="sidepanel-close d-xl-none">&times;</a>
        <div class="app-branding">
            <a class="app-logo"><img class="logo-icon me-2" src="/portal/src/assets/images/app-logo.svg" alt="logo"><span class="logo-text">PORTAL</span></a>

        </div><!--//app-branding-->  
        
        <nav id="app-nav-main" class="app-nav app-nav-main flex-grow-1">
           
            <ul class="app-menu list-unstyled accordion" id="menu-accordion"  *ngFor="let data of dataExternal">
                <li class="nav-item">
                    
                    <!--//Bootstrap Icons: https://icons.getbootstrap.com/ -->
                    <a class="nav-link" [routerLink]="[data?.routerLink]">
                        <span class="nav-icon">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.828 4a3 3 0 0 1-2.12-.879l-.83-.828A1 1 0 0 0 6.173 2H2.5a1 1 0 0 0-1 .981L1.546 4h-1L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3v1z"/>
                                <path fill-rule="evenodd" d="M13.81 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91h10.348a1 1 0 0 0 .995-.91l.637-7A1 1 0 0 0 13.81 4zM2.19 3A2 2 0 0 0 .198 5.181l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H2.19z"/>
                                </svg>
                         </span>
                         <span class="nav-link-text">{{data.text}}</span>
                         <ng-container *ngIf="data.icon =='inventory_1'" >
                            <ul class="submenu-list list-unstyled">
                                <li class="submenu-item" *ngFor="let data of data.children" [routerLink]="[data.text]">{{data.text}}<a class="submenu-link"></a></li>
                            </ul>
                         </ng-container>
                         <ng-container *ngIf="data.icon =='inventory_2'">
                            <span></span>
                            <ul class="submenu-list list-unstyled">
                                <li class="submenu-item"  *ngFor="let data1 of data.children" (click)='callUrl(data1.text)'>{{data1.text}}<a class="submenu-link"></a></li>
                            </ul>
                         </ng-container> 
                    </a><!--//nav-link-->
                </li><!--//nav-item-->
                <div id="submenu-1" class="collapse submenu submenu-1" data-bs-parent="#menu-accordion">
                    <ul class="submenu-list list-unstyled"  >
                        <li class="submenu-item"><a class="submenu-link" ></a></li>
                    </ul>
                </div>


                
                
                
               